BODY {
	PADDING-RIGHT: 40px; PADDING-LEFT: 0px; BACKGROUND: url(./images/bg.gif) #f9f9ee repeat-y; MARGIN: 0px 50px 50px 55px; FONT: 14px/1.8 Verdana, Helvetica, Arial,  'Trebuchet MS',  sans-serif; COLOR: #000000
}
A {
	FONT-WEIGHT: bold; COLOR: #c00; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A:hover {
	COLOR: blue
}
H1 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 60px; FONT-WEIGHT: bolder; FONT-SIZE: 40px; BACKGROUND: url(./images/sky.png) #d9e7e2 repeat-x; PADDING-BOTTOM: 16px; MARGIN-LEFT: -80px; COLOR: #004f37; LINE-HEIGHT: 1; MARGIN-RIGHT: -90px; PADDING-TOP: 22px; FONT-FAMILY: georgia, "Trebuchet MS"
}
H2 {
	BORDER-RIGHT: #005a9c 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #005a9c 1px solid; MARGIN-TOP: 20pt; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 20px; BACKGROUND: url(./images/lightblue.gif) #c4d9ef; PADDING-BOTTOM: 3px; MARGIN-LEFT: -30px; BORDER-LEFT: #005a9c 6px solid; COLOR: #005a9c; LINE-HEIGHT: 1; MARGIN-RIGHT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #005a9c 1px solid; FONT-FAMILY: georgia, "Trebuchet MS"
}
H3 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 10pt; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 18px; BACKGROUND: url(./images/lightgreen.gif) #d9eae0; PADDING-BOTTOM: 3px; MARGIN-LEFT: -10px; BORDER-LEFT: #2b804c 6px solid; COLOR: #2b804c; LINE-HEIGHT: 1; MARGIN-RIGHT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #2b804c 1px solid; FONT-FAMILY: "Trebuchet MS"
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 3px; MARGIN-LEFT: -15px; BORDER-LEFT: #d04b44 6px solid; COLOR: #d04b44; LINE-HEIGHT: 1; MARGIN-RIGHT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #d04b44 1px solid; FONT-FAMILY: "Trebuchet MS"
}
H5 {
	FONT-SIZE: 14pt; MARGIN: 10px 0px 2px; COLOR: #7b7b5a; LINE-HEIGHT: 1
}
H2:hover {
	BORDER-BOTTOM-STYLE: dashed
}
H3:hover {
	BORDER-BOTTOM-STYLE: dashed
}
H4:hover {
	BORDER-BOTTOM-STYLE: dashed
}
H5:hover {
	BORDER-BOTTOM-STYLE: dashed
}
H2:link {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; BORDER-LEFT: 1px inset; BORDER-BOTTOM: 1px inset
}
H2:active {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; BORDER-LEFT: 1px inset; BORDER-BOTTOM: 1px inset
}
H3:link {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; BORDER-LEFT: 1px inset; BORDER-BOTTOM: 1px inset
}
H3:active {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; BORDER-LEFT: 1px inset; BORDER-BOTTOM: 1px inset
}
H4:link {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; BORDER-LEFT: 1px inset; BORDER-BOTTOM: 1px inset
}
H4:active {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; BORDER-LEFT: 1px inset; BORDER-BOTTOM: 1px inset
}
H5:link {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; BORDER-LEFT: 1px inset; BORDER-BOTTOM: 1px inset
}
H5:active {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; BORDER-LEFT: 1px inset; BORDER-BOTTOM: 1px inset
}
H6.mulu {
	FONT-SIZE: 14px; MARGIN: 0px 0px -10px -35px; COLOR: #46357c
}
IMG {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 5px
}
A IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
PRE {
	PADDING-RIGHT: 0em; PADDING-LEFT: 1em; BACKGROUND: url(./images/brick.gif) #c4e6f0; PADDING-BOTTOM: 0.5em; FONT: 9pt "Bitstream Vera Sans", Courier New, helvetica; MARGIN-LEFT: 0px; COLOR: #284d6a; MARGIN-RIGHT: 0px; PADDING-TOP: 0.5em
}
DIV.mulu {
	PADDING-LEFT: 35px; BACKGROUND: url(./images/menu_tr.gif); MARGIN-BOTTOM: 3em; MARGIN-LEFT: -35px
}
DIV.me {
	BORDER-RIGHT: #ccaa00 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ccaa00 1px solid; PADDING-LEFT: 1em; BACKGROUND-IMAGE: url(./images/nice.gif); PADDING-BOTTOM: 0.5em; FONT: 9pt Courier New, helvetica; MARGIN-LEFT: 0px; BORDER-LEFT: #ccaa00 1px solid; COLOR: #3c5e08; MARGIN-RIGHT: 0px; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ccaa00 1px solid
}
PRE.example {
	BORDER-RIGHT: #ccaa00 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ccaa00 1px solid; PADDING-LEFT: 1em; BACKGROUND-IMAGE: url(./images/nice.gif); PADDING-BOTTOM: 0.5em; MARGIN-LEFT: 0px; BORDER-LEFT: #ccaa00 1px solid; COLOR: #3c5e08; MARGIN-RIGHT: 0px; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ccaa00 1px solid
}
.verse {
	MARGIN-LEFT: 1em; WHITE-SPACE: pre
}
DT {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ee4000; PADDING-TOP: 1em
}
P {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
P A {
	FONT-FAMILY: 'Trebuchet MS'
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 30px; MARGIN-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 30px; MARGIN-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-IMAGE: url(./images/ul.gif)
}
UL OL {
	LIST-STYLE-IMAGE: none
}
UL UL {
	LIST-STYLE-IMAGE: url(./images/olul.gif)
}
OL UL {
	LIST-STYLE-IMAGE: url(./images/ulul.gif)
}
STRONG EM {
	COLOR: #000066
}
STRONG {
	COLOR: #0b008b
}
EM {
	COLOR: #003399; FONT-STYLE: oblique
}
U {
	COLOR: #68228b; FONT-STYLE: oblique; TEXT-DECORATION: none
}
.navfoot {
	WIDTH: 100%
}
.footdate .foothome {
	FONT: 9pt Verdana,  Arial, Times New Roman, Courier New, Helvetica
}
TABLE {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
TD {
	BORDER-RIGHT: buttonshadow 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: buttonhighlight 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 13px; BACKGROUND: #e0e0c0; OVERFLOW: hidden; BORDER-LEFT: buttonhighlight 1px solid; BORDER-BOTTOM: buttonshadow 1px solid; HEIGHT: 23px
}
TH {
	BORDER-RIGHT: buttonshadow 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: buttonhighlight 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 13px; BACKGROUND: #ffd112; OVERFLOW: hidden; BORDER-LEFT: buttonhighlight 1px solid; BORDER-BOTTOM: buttonshadow 1px solid; HEIGHT: 23px
}
HR {
	BORDER-LEFT-COLOR: #ccc; BORDER-BOTTOM-COLOR: #ccc; BORDER-TOP-STYLE: dashed; BORDER-TOP-COLOR: #ccc; BORDER-RIGHT-STYLE: dashed; BORDER-LEFT-STYLE: dashed; BORDER-RIGHT-COLOR: #ccc; BORDER-BOTTOM-STYLE: dashed
}
.toplink {
	FONT-SIZE: x-small; FLOAT: right; LINE-HEIGHT: 1
}
.toplink A {
	BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-DECORATION: none
}
.toplink A:hover {
	TEXT-DECORATION: underline
}
.menu:unknown {
	DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: url(./images/menu_tr.gif) no-repeat right top; MARGIN: 0px; LINE-HEIGHT: 0.1; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 9px; content: url("./images/key-point_tl.gif")
}
.menu {
	CLEAR: both; BACKGROUND: url(./images/menu_back.gif) #e0e9e9 repeat-y right 50%; FLOAT: right
}
.menu:unknown {
	BORDER-TOP: #fff 1px solid; DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: url(./images/menu_br.gif) no-repeat right bottom; MARGIN: 0px; LINE-HEIGHT: 0.1; PADDING-TOP: 0px; HEIGHT: 8px; content: url("./images/key-point_bl.gif")
}
.menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.menuitem {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.menuitem {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 11px Verdana, Courier New; PADDING-TOP: 0px
}
.menuitem A {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: #edf2f2; PADDING-BOTTOM: 1px; COLOR: #00008b; PADDING-TOP: 1px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none
}
.menuitem A:hover {
	COLOR: #c00
}
.contents {
	FONT: 10px Verdana, Courier New; PADDING-TOP: 2px
}
DT.contents:unknown {
	DISPLAY: inline; content: url("./images/dotnice.gif")
}
DT.contents A {
	DISPLAY: inline; FONT-SIZE: 12px; COLOR: #c00
}
DT.contents A:hover {
	
}
DD DL DT.contents:unknown {
	DISPLAY: inline; content: url("")
}
DD DL DT.contents A {
	DISPLAY: block; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #007f1d
}
DD DL DT.contents A:hover {
	BACKGROUND-COLOR: #dfffe6
}
SPAN.comment {
	FONT-WEIGHT: normal; LINE-HEIGHT: 1.6
}
.comment {
	FONT-WEIGHT: bold; COLOR: #cd0000; FONT-STYLE: italic
}
.function-name {
	FONT-WEIGHT: bold; COLOR: #0000ff
}
.keyword {
	FONT-WEIGHT: bold; COLOR: #a020f0
}
.preprocessor {
	FONT-WEIGHT: bold; COLOR: black
}
.string {
	COLOR: #008b00
}
.type {
	COLOR: #000080
}
.variable-name {
	COLOR: #8b5a2b
}
.doc {
	COLOR: #f0a4a4
}
#mainContent {
	MARGIN-LEFT: 160pt
}
#side {
	FLOAT: left; MARGIN-BOTTOM: 1em; WIDTH: 120pt
}
#side HR {
	DISPLAY: none
}
#nav:unknown {
	DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: url(./images/menu_tr.gif) no-repeat right top; MARGIN: 0px; LINE-HEIGHT: 0.1; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 9px; content: url("./images/key-point_tl.gif")
}
#nav {
	BACKGROUND: url(./images/menu_back.gif) #cccccc repeat-y right 50%
}
#nav:unknown {
	BORDER-TOP: #fff 1px solid; DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: url(./images/menu_br.gif) no-repeat right bottom; MARGIN: 0px; LINE-HEIGHT: 0.1; PADDING-TOP: 0px; HEIGHT: 8px; content: url("./images/key-point_bl.gif")
}
#nav TABLE {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: #e6e6e6; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none
}
#nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#nav LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#nav LI SPAN {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: #e6e6e6; PADDING-BOTTOM: 6px; COLOR: #666; PADDING-TOP: 6px; BORDER-BOTTOM: #ddd 1px solid
}
#nav LI SPAN#configParent {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#nav LI SPAN #configuration {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#nav LI A {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: #e6e6e6; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none
}
#nav LI A:hover {
	BACKGROUND: #cccccc
}
#nav LI LI SPAN {
	PADDING-RIGHT: 8px; PADDING-LEFT: 20px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#nav LI LI A {
	PADDING-RIGHT: 8px; PADDING-LEFT: 20px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
